ul.ant-menu.ant-menu-root {
  height: 100%;
}

.app-wrapper-layout {
  height: 100vh;
  margin-bottom: -35px; // footer height
  min-height: 100vh;

  display: flex;
  flex-direction: row;


  .ant-menu-item {
    margin: 0 !important;
    height: 38px !important;
  }

  .content-wrapper {
    width: 100%;
    padding: 24px 24px 10px 24px;
    overflow: hidden;
    margin-bottom: 35px;

    .content {
      height: 100%;
      overflow-y: auto;
      overflow-x: hidden;
      border-radius: 3px;
      padding: 25px;
    }
  }
}

footer {
  transition: all 0.4s;
  height: 35px;
  text-align: center;
}
